<!DOCTYPE html>
<html>
  <head>
    <title>Rails Band Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !current_manager %>
      <a class="navbar-brand" href="<%= new_manager_path %>"/>Sign Up</a>
      <%= link_to "Log in", signin_path, class:"navbar-brand" %>
    <% end %>
    <% if current_manager %>
      <%= link_to "#{current_manager.username}'s profile", manager_path(current_manager), class:"navbar-brand"%>
      <%= link_to "Log Out", session_path, class:"navbar-brand",method:'delete' %>
    <% end %>  
    <%= yield %>
  </body>
</html>
