<h1><%= @member.name %>'s Bands:</h1>
<br>
<h3>Managed by You</h3>
<ul>
    <% @member.bands.each do |band| %>
        <% if manager_bands.include?(band) %>
            <li><%= link_to band.name, band_path(band) %> - <%= get_band_member(@member, band).instrument %></li>
        <% end %>
    <% end %>
</ul>
<br>
<h3>Managed by Others</h3>
<ul>
    <% @member.bands.each do |band| %>
        <% if !manager_bands.include?(band) %>
            <li><%= band.name %> - <%= get_band_member(@member, band).instrument %></li>
        <% end %>
    <% end %>
</ul>
<br>
<%= link_to "Back to Your Bands", bands_path %>